
model_G: singleUnet
#['MCDudo','DuDoNet_Loupe']
#['TitanRNet_freloss15s3','TitanRNet_freloss15s3_Loupe','TitanRNet_freloss15s3_diffusion']
#['VANet','MTrans','Unet','restormer','singleUnet','DuDoRNet','MDUNet','CUNet','edgeNet']


model: ref-rec # 如果是MRI多模态重建 ['joint-optimize', 'ref-rec']  #网络任务
                 # 如果网络任务为joint_optimize 那么undersample为ING


undersample: random  # 'equ' or 'random' or 'learned' or 'spiral' or 'radial'
scale: 10 # scale factor for sr; acc. ratio for reconstruction
batch_size: 4
epoch: 50
mode: IXI #'IXI' , 'brain=Brats2018' , 'fastmri'
gpu_ids: [0]
loss: l1  # ['l1','l2','guass','cl1_loss']

path:
  pretrain_model_G: ~ # for fine-tune your reconstruction model, put your pre-trained model path here
  resume_state: ~
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_equ_x4_rec/training_state/Iter_87780.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x8_rec/training_state/Iter_13965.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_equ_x8_rec/training_state/Iter_59850.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v10_equ_x4_rec/training_state/Iter_65868.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v9_equ_x4_rec/training_state/Iter_48902.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v7_equ_x4_rec/training_state/Iter_4990.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v5_equ_x4_rec/training_state/Iter_23952.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v4_equ_x4_rec/training_state/Iter_8982.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_v2_equ_x4_rec/training_state/Iter_998.state
  #/home/xinming/MCDudo/experiments/IXI_edgeNet_equ_x4_rec/training_state/Iter_49900.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_diffusion_ING_x30_joint/training_state/Iter_38080.state
  #/home/xinming/MCDudo/experiments/IXI_CUNet_equ_x4_rec/training_state/Iter_4990.state
  #/home/xinming/MCDudo/experiments/IXI_MTrans_equ_x8_rec/training_state/Iter_199500.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_diffusion_learned_x30_rec/training_state/Iter_119400.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_diffusion_ING_x30_joint/training_state/Iter_39800.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_diffusion_learned_x30_rec/training_state/Iter_79600.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_Loupe_learned_x30_rec/training_state/Iter_38080.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_equ_x8_rec/training_state/Iter_79600.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_equ_x10_rec/training_state/Iter_59700.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x4_rec/training_state/Iter_55860.state
  #/home/xinming/MCDudo/experiments/Brats2018_MTrans_equ_x8_rec/training_state/Iter_39800.state
  #/home/xinming/MCDudo/experiments/IXI_MTrans_equ_x8_rec/training_state/Iter_199500.state
  #/home/xinming/MCDudo/experiments/Brats2018_MTrans_equ_x10_rec/training_state/Iter_37810.state
  #/home/xinming/MCDudo/experiments/IXI_MTrans_equ_x10_rec/training_state/Iter_79800.state
  #/home/xinming/MCDudo/experiments/IXI_MTrans_equ_x8_rec/training_state/Iter_121296.state
  #/home/xinming/MCDudo/experiments/IXI_MTrans_equ_x30_rec/training_state/Iter_39900.state
  #/home/xinming/MCDudo/experiments/Brats2018_MTrans_equ_x4_rec/training_state/Iter_21890.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x30_rec/training_state/Iter_7980.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x10_rec/training_state/Iter_35910.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x10_rec/training_state/Iter_27930.state
  #/home/xinming/MCDudo/experiments/Brats2018_MTrans_equ_x4_rec/training_state/Iter_19900.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x10_rec/training_state/Iter_19950.state
  #/home/xinming/MCDudo/experiments/IXI_MCDudo_equ_x4_rec/training_state/Iter_11970.state
  #/home/xinming/MCDudo/experiments/fastmri_DuDoNet_Loupe_ING_x4_joint/training_state/Iter_4760.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_equ_x20_rec/training_state/Iter_28560.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_equ_x8_rec/training_state/Iter_22848.state
  #/home/xinming/MCDudo/experiments/fastmri_DuDoNet_Loupe_learned_x20_rec/training_state/Iter_17136.state
  #/home/xinming/MCDudo/experiments/fastmri_DuDoNet_Loupe_ING_x8_joint/training_state/Iter_952.state
  #/home/xinming/MCDudo/experiments/fastmri_DuDoNet_Loupe_learned_x8_rec/training_state/Iter_952.state
  #/home/xinming/MCDudo/experiments/fastmri_DuDoNet_Loupe_ING_x4_joint/training_state/Iter_19040.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_diffusion_ING_x30_joint/training_state/Iter_34272.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_diffusion_ING_x8_joint/training_state/Iter_19040.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_diffusion_learned_x4_rec/training_state/Iter_19040.state
  #/home/xinming/MCDudo/experiments/fastmri_TitanRNet_freloss15s3_diffusion_ING_x4_joint/training_state/Iter_1904.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_Loupe_learned_x30_rec/training_state/Iter_1990.state
  #/home/xinming/MCDudo/experiments/Brats2018_DuDoNet_Loupe_learned_x30_rec/training_state/Iter_5970.state
  #/home/xinming/MCDudo/experiments/Brats2018_TitanRNet_freloss15s3_diffusion_learned_x30_rec/training_state/Iter_3980.state
  #/home/xinming/MCDudo/experiments/Brats2018_DuDoNet_Loupe_learned_x30_rec/training_state/Iter_5970.state
  #/home/xinming/MCDudo/experiments/Brats2018_MCDudo_equ_x20_rec/training_state/Iter_1990.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_diffusion_learned_x8_rec/training_state/Iter_71820.state
  #/home/xinming/MCDudo/experiments/IXI_DuDoNet_Loupe_ING_x20_joint/training_state/Iter_47880.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRSANet_freloss15s3_diffusion_ING_x8_joint/training_state/Iter_51870.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRSANet_freloss15s3_diffusion_learned_x4_rec/training_state/Iter_23940.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRSANet_freloss15s3_diffusion_ING_x4_joint/training_state/Iter_55860.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_Loupe_learned_x30_rec/training_state/Iter_3990.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRUNet_freloss15s3_equ_x10_rec/training_state/Iter_39900.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_diffusion_ING_x8_joint/training_state/Iter_47880.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_diffusion_learned_x4_rec/training_state/Iter_39900.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_equ_x20_rec/training_state/Iter_39900.state
  #/home/xinming/MCDudo/experiments/IXI_TitanRNet_freloss15s3_equ_x20_rec/training_state/Iter_39900.state




method: diffuison
name: IXI_MCDudo_equ_x8_rec
distortion: sr
use_tb_logger: True

data1: True  # ref-rec reconstruct the first modal
dist: True
   ### data set
k_loss: False

datasets:
  train:
    mode: IXI   ### data set
    task: rec   # ['rec', 'sr']    
    scale: 10
    interval_list: [1]
    random_reverse: true
    border_mode: false
    dataroot_GT: /home/xinming/MCDudo/dataset/IXI/train/smallT2PNG   # The training file path of your target image
    use_shuffle: true
    n_workers: 2 
    batch_size: 4
    crop_size: 256
    use_flip: True
    use_rot: True
    hr_in: True
    undersample: equ   #'equ' or 'random'
  
  val:
    mode: IXI    ### data set
    task: rec    # ['rec', 'sr'] 
    scale: 10
    test_size: 256
    dataroot_GT: /home/xinming/MCDudo/dataset/IXI/val/smallT2PNG  # The testing file path of your target image
    hr_in: True
    undersample: equ   #'equ' or 'random'


network_G:
  which_model_G: DuDoNet_Loupe #['DuDoNet_Loupe','y_net','MCDudo','DuDoNet_diffusion']
  c_image: 1
  nf: 32
  sparsity: 0.1  # x10 AC
  image_size: [256,256]  # for IXI
  stages: 4
  groups: 4
  RBs: 12

#  # diffusion
#  in_channels: 1
#  out_ch: 3
#  ch: 128
#  ch_mult: [ 1, 2, 3, 4 ]
#  num_res_blocks: 2
#  attn_resolutions: [ 16, ]
#  dropout: 0.0
#  ema_rate: 0.999
#  ema: True
#  resamp_with_conv: True
#  conditional: True
#  beta_schedule: linear
#  beta_start: 0.0001
#  beta_end: 0.02
#  num_diffusion_timesteps: 1000
#  pretrain_diffusion_path: /home/xinming/MCDudo/diffusion_500.pth.tar



train:
  lr_G: !!float 1e-4
  lr_scheme: CosineAnnealingLR_Restart
  beta1: 0.9
  beta2: 0.99
  warmup_iter: -1
  T_period: [300000]
  restarts: [300000]
  restart_weights: [1]
  eta_min: !!float 1e-4

  pixel_criterion: l1
  pixel_weight: 1.0
  niter: 39900
  val_freq: !!float 399

  manual_seed: 0

logger:
  print_freq: 10
  save_checkpoint_freq: !!float 3990


